version: '3.8'

services:
  whatsapp-api:
    build: .
    container_name: whatsapp-api
    restart: unless-stopped
    ports:
      - "5004:3000" # Map port 3000 in the container to port 5004 on the host
    volumes:
      - ./auth_info_baileys:/app/auth_info_baileys
      - ./api_config.json:/app/api_config.json
    env_file:
      - .env